 body.body--serp .logo_homepage, body#pg-index .logo_homepage {
	 background-image: url("https://i.imgur.com/s29uVFj.png");
	 width: 100%;
	 background-size: 100% auto;
	 background-position: bottom center;
	 margin-bottom: 8x;
}
 body.body--serp .logo-wrap--home, body#pg-index .logo-wrap--home {
	 max-width: 634px;
	 width: 70%;
}
 body.body--serp .header--aside__item, body#pg-index .header--aside__item {
	 height: 39px;
	 display: inline-block;
	 vertical-align: middle;
	 position: relative;
	 cursor: pointer;
	 white-space: nowrap;
	 z-index: 1;
	 line-height: 37px;
	 font-size: 0px !important;
}
 body.body--serp .onboarding-ed__arrow-teaser, body#pg-index .onboarding-ed__arrow-teaser {
	 left: -100px;
}
 body.body--serp .tag-home, body#pg-index .tag-home {
	 font-size: 0px;
}
/* body.body--serp .header__logo, body#pg-index .header__logo {
	 background-image: url("https://i.imgur.com/NDQCUrS.png") !important;
	 background-size: 64px 64px !important;
	 width: 120px !important;
	 height: 60px !important;
	 margin-top: -10px !important;
	 margin-left: -5px !important;
	 } */
 body.body--serp .zcm__link, body#pg-index .zcm__link {
	 height: 15px;
	 line-height: 15px;
	 padding: 8px 8px 12px;
	 -webkit-font-smoothing: unset !important;
	 font-weight: 400 !important;
	 color: #777 !important;
   background-repeat: no-repeat;
   background-size: 16px;
   background-position: 0px 7.5px;
}
 body.body--serp .zcm-wrap--header, body#pg-index .zcm-wrap--header {
	 margin-left: -5px !important;
}
 body.body--serp .dropdown__button, body#pg-index .dropdown__button {
	 color: #777 !important;
}
 body.body--serp .header--aside__msg, body#pg-index .header--aside__msg, body.body--serp .header--aside__twitter, body#pg-index .header--aside__twitter {
	 display: none !important;
}
 body.body--serp .feedback-btn, body#pg-index .feedback-btn {
	 display: none !important;
}
 body.body--serp .header__button--menu, body#pg-index .header__button--menu {
	 margin-top: -25px !important;
}
 body.body--serp body, body#pg-index body {
	 background: white !important;
	 font-family: arial, sans-serif;
	 color: #222;
}
 body.body--serp .header__logo-wrap, body#pg-index .header__logo-wrap {
	 margin-left: 20px;
	 width: 120px;
}
 body.body--serp .module, body#pg-index .module {
	 margin-left: 0px;
}
 body.body--serp .module__body, body#pg-index .module__body {
	 border-bottom: solid 1px #ebebeb;
	 padding-bottom: 25px;
}
 body.body--serp .module--about__img, body#pg-index .module--about__img {
	 padding-left: 0px;
	 padding-bottom: 0px;
}
 body.body--serp .module__title, body#pg-index .module__title {
	 font-size: 19px;
	 color: rgba(0, 0, 0, .87);
	 line-height: 1.2;
	 font-family: arial, sans-serif-light, sans-serif;
	 font-weight: normal;
	 text-align: left;
}
 body.body--serp .module__text, body#pg-index .module__text {
	 line-height: 1.24;
	 font-size: 13px;
	 text-align: left;
	 color: #222;
}
 body.body--serp .module__more-at js-about-module-more-at-inline, body#pg-index .module__more-at js-about-module-more-at-inline {
	 color: red;
}
 body.body--serp .about-info-box, body#pg-index .about-info-box {
	 padding-top: 20px;
}
 body.body--serp .about-info-box__info-row, body#pg-index .about-info-box__info-row {
	 border-top: none;
}
 body.body--serp .about-info-box__info-label, body#pg-index .about-info-box__info-label {
	 font-size: 13px;
	 text-align: left;
	 color: #222;
}
 body.body--serp .about-info-box__info-value, body#pg-index .about-info-box__info-value {
	 line-height: 1.24;
	 font-size: 13px;
	 text-align: left;
	 color: #222;
}
 body.body--serp .header__search, body#pg-index .header__search {
	 min-width: 690px;
}
 body.body--serp #search_form_homepage, body#pg-index #search_form_homepage, body.body--serp #search_form, body#pg-index #search_form {
	/*box-shadow: 0px 1.5px 2px .5px lightgray !important;
	*/
	 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
	 background-color: white !important;
	 border-radius: 1.5px !important;
	 transition: all 200ms !important;
	 font-size: 100% !important;
	 border: 0px !important;
}
 body.body--serp #search_form_homepage:hover, body#pg-index #search_form_homepage:hover, body.body--serp #search_form:hover, body#pg-index #search_form:hover, body.body--serp #search_form_homepage:focus, body#pg-index #search_form_homepage:focus, body.body--serp #search_form:focus, body#pg-index #search_form:focus, body.body--serp .search__autocomplete, body#pg-index .search__autocomplete {
	 box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
	/*border: 1px solid rgba(0,0,0,0.15);
	*/
}
 body.body--serp #search_button_homepage, body#pg-index #search_button_homepage, body.body--serp #search_form_input_clear, body#pg-index #search_form_input_clear {
	 opacity: 0 !important;
	 transition: all 500ms !important;
}
 body.body--serp .search:hover .search__button, body#pg-index .search:hover .search__button, body.body--serp .search__input:focus ~ .search__button, body#pg-index .search__input:focus ~ .search__button, body.body--serp .search--header.has-text.search--hover .search__button, body#pg-index .search--header.has-text.search--hover .search__button, body.body--serp .search--header.has-text.search--focus .search__button, body#pg-index .search--header.has-text.search--focus .search__button, body.body--serp .search--home.has-text .search__button, body#pg-index .search--home.has-text .search__button {
	 background-color: #5b9e4d 0;
	 color: #4285f4;
}
 body.body--serp #search_button_homepage:hover, body#pg-index #search_button_homepage:hover, body.body--serp #search_form_input_clear:hover, body#pg-index #search_form_input_clear:hover, body.body--serp #search_button, body#pg-index #search_button {
	 opacity: 1 !important;
	 background-color: #5b9e4d 0 !important;
	 color: #4285f4 !important;
	 border-top: 0px solid rgba(0, 0, 0, 0.00);
	 border-bottom: 0px solid rgba(0, 0, 0, 0.00);
	 border-right: 0px solid rgba(0, 0, 0, 0.00);
}
 body.body--serp .zcm, body#pg-index .zcm {
	 padding-top: 17px;
	 color: #666;
	 font-size: 13px;
	 outline: none;
	 font-family: arial, sans-serif;
}
 body.body--serp .zcm-wrap, body#pg-index .zcm-wrap {
	 padding-left: 150px;
}
 body.body--serp .zcm__link.is-active, body#pg-index .zcm__link.is-active {
	 color: #4285f4 !important;
	 border-bottom-color: #4285f4 !important;
	 font-weight: bold !important;
	 border-bottom: solid 3px #de5833;
}
 body.body--serp .zcm__link.is-highlighted, body#pg-index .zcm__link.is-highlighted, body.body--serp .zcm__link:focus, body#pg-index .zcm__link:focus {
	 color: #4285f4 !important;
}
 body.body--serp .header-wrap, body#pg-index .header-wrap {
	 border-top-width: 0px !important;
	 background-color: #fafafa !important;
	 box-shadow: 0px 1px 0px #ebebeb !important;
}
 body.body--serp #header_wrapper, body#pg-index #header_wrapper {
	 min-height: 105px;
}
 body.body--serp #header, body#pg-index #header {
	 min-height: 105px;
}
 body.body--serp #duckbar, body#pg-index #duckbar {
	 min-height: 58px;
}
 body.body--serp #links_wrapper, body#pg-index #links_wrapper {
	 padding-left: 150px;
}
 body.body--serp #links_wrapper .results--sidebar, body#pg-index #links_wrapper .results--sidebar {
	 margin: 42px 10px 0 720px !important;
}
 body.body--serp .c-info, body#pg-index .c-info, body.body--serp .c-base, body#pg-index .c-base, body.body--serp .c-icon, body#pg-index .c-icon, body.body--serp .c-list, body#pg-index .c-list, body.body--serp .c-product, body#pg-index .c-product, body.body--serp .c-detail, body#pg-index .c-detail, body.body--serp .zci__main.has-aux, body#pg-index .zci__main.has-aux, body.body--serp .zci__main--answer, body#pg-index .zci__main--answer, body.body--serp .results--main, body#pg-index .results--main, body.body--serp .forecast-wrapper .module--forecast .module__detail--hours__labels, body#pg-index .forecast-wrapper .module--forecast .module__detail--hours__labels, body.body--serp .zcm-wrap--header, body#pg-index .zcm-wrap--header {
	 max-width: 690px !important;
}
 body.body--serp .result__title, body#pg-index .result__title {
	 font-size: 18px;
	 margin: 0;
	 padding: 0;
	 font-family: arial, sans-serif;
	 line-height: 1.2;
	 text-align: left;
	 color: #1a0dab;
	 padding-bottom: 2px;
}
 body.body--serp .result__snippet, body#pg-index .result__snippet {
	 margin: 0;
	 padding: 0;
	 color: #111111;
   line-height: 1.58;
}
 body.body--serp .result__snippet b, body#pg-index .result__snippet b {
   color: #000000;
   font-weight: 600;
}
 body.body--serp .result__icon, body#pg-index .result__icon {
	 display: none;
}
 body.body--serp .result__url, body#pg-index .result__url {
	 font-size: 14px;
	 font-style: normal;
	 line-height: 16px;
	 font-weight: normal;
}
 body.body--serp .result__url__domain, body#pg-index .result__url__domain {
   color: #555555; /* #202124; */
}
 body.body--serp .result__url__full, body#pg-index .result__url__full {
   color: #AAAAAA; /* #5f6368; */
}
 body.body--serp a.result__a, body#pg-index a.result__a {
   font-size: 20px;
	 font-weight: normal;
	 color: #1a0dab;
}
 body.body--serp a.result__a:visited, body#pg-index a.result__a:visited {
	 font-weight: normal;
	 color: #609;
}
 body.body--serp b, body#pg-index b {
	 font-weight: normal;
}
 body.body--serp .msg__line, body#pg-index .msg__line {
	 color: #dd4b39;
	 font-size: 18px;
}
 body.body--serp .js-spelling-suggestion-link, body#pg-index .js-spelling-suggestion-link {
	 color: #1a0dab;
	 font-size: 18px;
	 cursor: pointer;
	 font-weight: bolder;
	 font-style: italic;
}
 body.body--serp .msg__line--small, body#pg-index .msg__line--small {
	 font-size: 0.9em;
	 color: #333;
}
 body.body--serp .result, body#pg-index .result {
	 margin-bottom: 0.5em;
}
 body.body--serp .result.highlight, body#pg-index .result.highlight {
	 background-color: white !important;
}
 body.body--serp .header--aside, body#pg-index .header--aside {
	 padding-top: 20px;
}
 body.body--serp .header--aside__msg, body#pg-index .header--aside__msg {
	 padding-top: 20px;
}
 body.body--serp .module--news, body#pg-index .module--news {
	 margin-left: 0px !important;
}
 body.body--serp .cw, body#pg-index .cw {
	 max-width: 100%;
}
 
/*.result__check {
		 display:block!important;
	}
	*/
	/* .result__extras {
	}
	 */;
